//Background
$pageBackgroundColor: $white;
$headerFooterColor: $doveGray;
$underlineBackground: $redOrange;
$sectionBlockLabel: $redOrange;
$labelImgColor: $white;
$footerBackgroundColor: $mineShaft;
$sideBarBackground: $iron;
$anchorBackground: $abbey;
$statisticsSectionBackground: $nevada;
$latestContentBackground: $nevada;

//Fonts
$headerFontColor: $white;
$dateColor: $cadetBlue;
$blogHeadingColor: $mineShaft;
$paginationTextColor: $nevada;
$sectionIconColor: $redOrange;
$footerIconColor: $redOrange;
$socialNetworkHover: $pictonBlue;
$relatedPostIcon: $redOrange;
$asideFont: $mineShaft;
$asideLink: $redOrange;
$aboutUsButton: $redOrange;
$asideButton: $trout;
$headerSliderArrows: $osloGray;
$serviceBlockSymbol: $cadetBlue;
$serviceblockHeading: $mineShaft;
$serviceBlockFont: $trout;
$paralaxSectionFont: $white;
$statisticsFontColor: $white;
$latestBlogFont: $black;
$hoveredCardFont: $white;
$accordionSectionFont: $white;
$contactFont: $nevada;

//Border
$blogSectionBorder: $athensGray;
$postIconBorder: $redOrange;
$inputBorder: $cadetBlue;
$relatedPostBorder: $nevada;
$categoryUnderline: $cadetBlue;
$asideButtonBorder: $osloGray;
$headerSliderBorder: $white;
$headerSliderBorderActive: $cadetBlue;
$serviceBlockBorder: $athensGray;
$latestPortfolioBorder: $cadetBlue;
$latestPortfolioBottom: $cadetBlue;
$partnersBorder: $athensGray;
$accordionRadioBorder: $cadetBlue;
$hoveredBorder: $redOrange;

//Buttons
$blogButtonColor: $redOrange;
$blogButtonBackground: $white;
$paginationButtonBorder: $athensGray;