//Colors
$white: #fff;
$doveGray: #717171;
$redOrange: #ff3c1f;
$cadetBlue: #aab2bd;
$mineShaft: #303030;
$athensGray: #e6e9ed;
$nevada: #656d78;
$pictonBlue: #55acee;
$iron: #e0e2e4;
$osloGray: #7e858e;
$trout: #4e5860;
$abbey: #57595b;
$black: #272d32;

//Sizes for height and width of blog block cut
$sectionCutHeight: 48px;
$sectionCutPosition: 45.5%;
$labelSize: calc(#{$sectionCutHeight}/2 - 0.5px);
$labelImageSize: 22px;

